body {
  background-color: #120e43;
  border: 10px solid #fff;
  border-radius: 20px;
}

.main-heading {
  color: #fff;
  padding-bottom: 5px;
  border-bottom: 5px solid white;
}

.turn-win {
  margin-top: 20px;
  margin-bottom: 50px;
}

.grid {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  border: 10px solid white;
  border-radius: 5%;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
  transition: 0.1s ease-in;
  transform: scale(2);
}

.icon {
  font-size: 100px;
  color: #ffffff;
}

#reload-button {
  width: 450px;
  height: 50px;
  margin: 25px 25px;
}

#reload-button:hover {
  transition: 0.1s ease-in;
  transform: scale(0.99);
}
